
// footer
.l-footer{
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    color: #000;
    &__copyright{
        padding: 20px;
        font-weight: bold;
        font-size: 1rem;
    }
}
